body {
    background: #111;
    color: white;
    font-family: Arial;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #00ff99;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #222;
    padding: 15px;
}
